<!DOCTYPE html>
<html>
	<head>
		<title>Slim Framework Sample Multiple App</title>
	</head>
	<body>
		<h1>{{data}}</h1>
		{% for message in flash %}
		<p>{{message}}</p>
		{% endfor %}
	</body>
</html>